<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Word Search</div>
      <div class="item item-body">
        <div>
          In this game you need to search for words that are listed bottom. The word will appear in a large grid of letters, and can orient in all different directions such as from left to right, from bottom to top, from bottom right to top left, etc.
        </div>
      </div>
       
    </div>
    <a class="button button-block button-stable" href="#/tab/newgame">
      Play Game
    </a>
    
  </ion-content>
</ion-view>
